In [16]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
try:
    conn = psycopg2.connect('dbname=postgres user=postgres password=admin')
    print('Connection successfully')
except psycopg2.Error as e:
    print('Connection fail')
    print(e)

Connection successfully

In [3]:
try:
    cursor = conn.cursor()
    print('Cursor created')
except psycopg2.Error as e:
    print('Cursor fail')
    print(e)

Cursor created

In [4]:
conn.set_session(autocommit=True)

In [9]:
try:
    cursor.execute('DROP DATABASE IF EXISTS world_cup')
    cursor.execute('CREATE DATABASE world_cup')
    print('Database created successfully')
except psycopg2.Error as e:
    print('Fail')
    print(e)

Database created successfully

In [10]:
try:
    conn.close()
    print('Connection closed')
except psycopg2.Error as e:
    print('Error: Could not close connection')
    print(e)
    
try:
    conn = psycopg2.connect('host=127.0.0.1 dbname=world_cup user=postgres password=admin')
    print('Connection successfully')
except psycopg2.Error as e:
    print('Error: Could not connect')
    print(e)

try:
    cursor = conn.cursor()
except psycopg2.Error as e:
    print('Cursor fail')
    print(e)    

conn.set_session(autocommit=True)

Connection closed
Connection successfully

In [11]:
try:
    cursor.execute('CREATE TABLE IF NOT EXISTS teams_stadistics (position varchar, team varchar, games_played int, \
    win int, draw int, loss int, goals_for int, goals_against int, goal_difference int, points int);')
    print('Table created')
except psycopg2.Error as e:
    print('Cursor execute fail')
    print(e)

Table created

In [12]:
try:
    world_cup_2010 = pd.read_csv(r'C:\Users\Administrador\Downloads\FIFA2010.csv', sep=',').set_index('Position')
    print('Created')
except:
    print('Fail')

Created

In [13]:
world_cup_2010.head(2)

,Team,Games Played,Win,Draw,Loss,Goals For,Goals Against,Goal Difference,Points
Position,,,,,,,,,
1,Spain,7,6,0,1,8,2,6,18
2,Netherlands,7,6,0,1,12,6,6,18

In [17]:
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/world_cup')

In [18]:
df_sql = world_cup_2010.to_sql(name='world_cup_2010', con=engine, if_exists='append', index=False)